- var imgUrl = '../img/';
      
doctype
html
	include ../blocks/head.pug
		title AFR
	body
		include ../blocks/header.pug
 
		.page-container
			include ../blocks/mainblock.pug
			.blocks-wrap1
				include ../blocks/about.pug
				include ../blocks/advantages.pug
			include ../blocks/composition.pug
			include ../blocks/examples.pug
			include ../blocks/compare.pug
			include ../blocks/cost.pug
			include ../blocks/delivery.pug
			include ../blocks/payment.pug
			include ../blocks/seo-block.pug
			include ../blocks/contact.pug


		include ../blocks/footer.pug

		include ../blocks/scripts.pug