section.about
	img.cloud(src=imgUrl+"cloud1.png", alt="")
	img.butterfly(src=imgUrl+"butterfly1.png", alt="" data-aos="zoom-in" data-aos-delay="450" data-aos-offset="0" data-aos-duration="1500")
	.container
		.caption
			h2.caption__title(data-aos="fade-down" data-aos-delay="450" data-aos-offset="100" data-aos-duration="1500") Профессиональный газон <br> GrowKit<sup>TM</sup> — инновационный метод посадки газона
		.text-container
			p Красивый и ухоженный вид участка является неотъемлемой частью загородной жизни, и однотонный изумрудный газон стоит первым в очереди по благоустройству. <br> Для получения газона, который будет радовать не один год, был создан набор GrowKit, состоящий из древесной мульчи, стартовых удобрений SpeedSoil и продолжительного действия LongSoil, связующего агента GumFlex, маркера Emerald, гидрогеля RainDrop и травосмеси из трех вариантов по выбору.
		.line
			a.video.popup-link(href="#")
				img.video__img(src=imgUrl+"about/video.jpg", alt="")
				span.icon-play
			.text-container
				h3 Нанесение «GrowKit»<sup>тм</sup> на приусадебном участке
				h4 Для выполнения работ по засеву газона необходимы:
				ul
					li Комплект GrowKit, из расчета 1 набор на 50 квадратных метров
					li Резервуар объёмом не менее 200 литров
					li Погружной дренажный насос
					li Шланг на длину засева
					li Доступ к воде
					li Перчатки, очки, маска-респиратор
		.text-container
			p Данный набор однородно перемешивается с водой в резервуаре объёмом не менее 200 литров при помощи погружного дренажного насоса и распределяется через шланг на требуемую к засеву поверхность. После нанесения, в образовавшемся на поверхности слое, аналоге плодородной почвы, развивается травостой, и, питаясь им, уходит корнями в почву, на которой был произведен засев. <br> Спустя 5 - 7 дней можно наблюдать первый ростки Вашего газона, а наслаждаться густой травой спустя 14 дней после применения GrowKit.
		ul.btns
			li
				a.btn2(href="#" download data-aos="fade-up" data-aos-delay="450" data-aos-offset="150" data-aos-duration="1500") Инструкция по применению GrowKit (скачать)
			li.icon-double-arrow(data-aos="fade-up" data-aos-delay="450" data-aos-offset="350" data-aos-duration="1500")
			


