section.advantages
	img.cloud(src=imgUrl+"cloud1.png", alt="")
	.container
		.caption
			h2.caption__title(data-aos="fade-down" data-aos-delay="150" data-aos-offset="0" data-aos-duration="1500") Преимущества
		ul.items
			li.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-icon.icon-a1
				p.item__text 100% экологично и <br> безопасно
			li.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-icon.icon-a2
				p.item__text Профессиональные компоненты от <br> поставщика международных проектов по <br> озеленению ПК «Полезные машины»
			li.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-icon.icon-a3
				p.item__text Тысячи клиентов в разных <br> уголках мира
			li.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-icon.icon-a4
				p.item__text Производится по <br> разработанным заводом ТУ
			li.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				.item-icon.icon-a5
				p.item__text Прорастание газона <br> через 1-2 недели