section.compare
	img.grass(src=imgUrl+"grass1.png", alt="")
	.container
		.caption
			h2.caption__title(data-aos="fade-down" data-aos-delay="150" data-aos-offset="0" data-aos-duration="1500") Сравнение технологий посева газона
			p.caption__text(data-aos="fade-up" data-aos-delay="150" data-aos-offset="100" data-aos-duration="1500") Примерная стоимость озеленения 50 м2
		.inner
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				img.item__img(src=imgUrl+"compare/img1.png", alt="")
				.item-line
					h2.item__title Рулонный газон
				span.item__price От 17 500
				.text-container
					h4 Подготовка участка перед посевом
					p Требуется тщательная подготовка почвы, аналогичная посевному газону
					h4 Срок прорастания
					p Газон готов сразу после укладки
					h4 Трудоёмкость
					p Требуется много времени на подготовку, укладку и уход
					h4 Стоимость
					p Рулонный газон стоит в несколько раз дороже газона, сделанного методом гидропосева
					h4 Уход
					p Необходим самостоятельный контроль увлажнения озеленяемой территории и удобрения на протяжении всего периода роста. Немаловажную роль занимает квалификация персонала
					h4 Применение на сложных участках
					p Укладку рулонного газона невозможно провести на сложных участках
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				img.item__img(src=imgUrl+"compare/img2.png", alt="")
				.item-line
					h2.item__title Рулонный газон
				span.item__price 2 900 - 4 500
				.text-container
					h4 Подготовка участка перед посевом
					p Требуется тщательная подготовка почвы, аналогичная посевному газону
					h4 Срок прорастания
					p Газон готов сразу после укладки
					h4 Трудоёмкость
					p Требуется много времени на подготовку, укладку и уход
					h4 Стоимость
					p Рулонный газон стоит в несколько раз дороже газона, сделанного методом гидропосева
					h4 Уход
					p Необходим самостоятельный контроль увлажнения озеленяемой территории и удобрения на протяжении всего периода роста. Немаловажную роль занимает квалификация персонала
					h4 Применение на сложных участках
					p Укладку рулонного газона невозможно провести на сложных участках
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				img.item__img(src=imgUrl+"compare/img3.png", alt="")
				.item-line
					h2.item__title Рулонный газон
				span.item__price От 1 000
				.text-container
					h4 Подготовка участка перед посевом
					p Требуется тщательная подготовка почвы, аналогичная посевному газону
					h4 Срок прорастания
					p Газон готов сразу после укладки
					h4 Трудоёмкость
					p Требуется много времени на подготовку, укладку и уход
					h4 Стоимость
					p Рулонный газон стоит в несколько раз дороже газона, сделанного методом гидропосева
					h4 Уход
					p Необходим самостоятельный контроль увлажнения озеленяемой территории и удобрения на протяжении всего периода роста. Немаловажную роль занимает квалификация персонала
					h4 Применение на сложных участках
					p Укладку рулонного газона невозможно провести на сложных участках


