section.contact
	.inner
		h3.inner__title Контакты
		ul.social
			li
				a.icon-insta(href="#")
			li
				a.icon-you-tube(href="#")
			li
				a.icon-vk(href="#")
		ul.tels
			li
				a.icon-tel2(href="tel:+") 8 (800) 505-27-36
		ul.mails
			li
				a.icon-mail2(href="mailto:info@grow-kit.ru") info@grow-kit.ru
		p.adress.icon-point 150000, Россия, г. Ярославль, <br> ул. Дружная, 26.
		p.time.icon-clock пн - пт 9:00 - 18:00
		p.contact__text Индивидуальный предприниматель: Самков Александр Алексеевич
		ul.contact-list
			li <strong>ОГРНИП</strong> 318762700049897 
			li <strong>ИНН</strong> 760406441596
	<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2139.4231615164917!2d39.925771216282826!3d57.57326598107922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b2944907b0a7a9%3A0x638d66827bf37ba2!2z0JTRgNGD0LbQvdCw0Y8g0YPQuy4sIDI2LCDQr9GA0L7RgdC70LDQstC70YwsINCv0YDQvtGB0LvQsNCy0YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGPLCAxNTAwMDY!5e0!3m2!1sru!2sua!4v1595200269667!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

