footer.footer
	.top
		.container
			p Вся информация на сайте – собственность интернет-магазина grow-kit.ru. Все права защищены.Информация на сайте grow-kit.ru не является публичной офертой. Указанные цены действуют только при оформлении заказа через интернет-магазин grow-kit.ru. Вы принимаете условия <a href="privacy.html" target="blank">политики конфиденциальности</a> и <a href="#" target="_blank">пользовательского соглашения</a> каждый раз, когда оставляете свои данные в любой форме обратной связи на сайте grow-kit.ru
	.bottom
		.container
			p Разработка и продвижение сайтов 
				a(href="https://mnogoland.ru/" target="_blank") Mnogoland
