.header
	.container
		ul.tels
			a.icon-tel(href="tel:+") +7 (495) <span>755-69-83</span>
		ul.social
			li
				a.icon-insta(href="#")
			li
				a.icon-you-tube(href="#")
			li
				a.icon-vk(href="#")
		ul.mails
			li
				a.icon-mail(href="") info@grow-kit.ru
		a.header-basket(href="basket.html")
			.icon-basket
				span 1
			p.header-basket__text Сумма: <span> 7 800</span> рублей