section.mainblock
	img.mainblock__home(src=imgUrl+"mainblock/home.png", alt="" data-aos="fade-right" data-aos-delay="450" data-aos-offset="0" data-aos-duration="1500")
	.container
		.inner
			h1(data-aos="fade-right" data-aos-delay="150" data-aos-offset="0" data-aos-duration="1500") <span>Профессиональный</span> газон GrowKit
			h2(data-aos="fade-right" data-aos-delay="250" data-aos-offset="0" data-aos-duration="1500") Безупречный газон <span>за 14 дней</span> на вашем участке 
			ul
				li.icon-list(data-aos="fade-right" data-aos-delay="150" data-aos-offset="0" data-aos-duration="1500") Быстрое преображение вашей лужайки
				li.icon-list(data-aos="fade-right" data-aos-delay="250" data-aos-offset="0" data-aos-duration="1500") Восстановление проплешин
				li.icon-list(data-aos="fade-right" data-aos-delay="350" data-aos-offset="0" data-aos-duration="1500") Прорастание газона через 1 - 2 недели
				li.icon-list(data-aos="fade-right" data-aos-delay="450" data-aos-offset="0" data-aos-duration="1500") Температура посева: от +5&deg; С 
			.btns(data-aos="fade-up" data-aos-delay="150" data-aos-offset="0" data-aos-duration="1500")
				li
					a.btn1.anchor(href="#cost") Заказать сейчас
		.price
			p.price__text Цена <br> <span class="price__num">от <span>2 900</span></span>
		.packet
			img.packet__img(src=imgUrl+"mainblock/packet.png", alt="")

