section.payment
	.container
		.caption
			h2.caption__title(data-aos="fade-down" data-aos-delay="150" data-aos-offset="0" data-aos-duration="1500") Способы оплаты
		.inner
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				img.item__img(src=imgUrl+"payment/icon1.svg", alt="")
				.text-container
					h4 Оплата банковской картой
					p Visa, Mastercard, Мир. (см.полный список)
			.item(data-aos="zoom-in" data-aos-delay="150" data-aos-offset="150" data-aos-duration="1500")
				img.item__img(src=imgUrl+"payment/icon2.svg", alt="")
				.text-container
					h4 Банковский почтовый перевод
					p Оплата осуществляется по реквизитам
